.container{
    width:80%;
    margin:  50px auto 50px auto ;
    align-items: center;
    text-align:center;
    background-color: rgb(204, 198, 198);
    border: 2px solid black;
}

.row{
    margin:10px;
}
